body {
  margin: 0;
  padding: 0;
  background-color: #f5ebe0;
}

@font-face {
  font-family: 'Matrix Type Font';
  src: url('MatrixtypeDisplayBold-6R4e6.ttf') format('truetype'),
       url('MatrixtypeBold-yYyB5.ttf') format('woff');
       font-weight: normal;
       font-style: normal;  
}

.main-container {
  font-family: 'Matrix Type Font', sans-serif;
  text-align: center;
  margin: 20px auto;
  border: 3px solid black;
  width: 800px;
  background-color: #d5bcae;
  border-radius: 90px;
}

button {
  font-family: 'Matrix Type Font', sans-serif;
  font-size: 22px;
  font-weight: 400px;
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #774936;
  color: white;
  transition: background-color 0.3s ease;
}

button:hover {
  color: black;
  background-color: #deab90;
}

h1{
  font-family: 'Matrix Type Font', sans-serif;
  text-align: center;
  margin-top: 50px;
  color: #283618;
  font-size: 48px;
   font-weight: 400px;
}

.container {
  display: grid;
  width: 600px;
  height: 600px;
  margin: 50px auto 100px auto;
  transition: background-color 0.3s ease;
}
       
.grid-item {
  border: 1px solid black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.hovered-trail {
  background-color: black;;
}